.show-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.show-details img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 1rem;
}

.show-details h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.show-details p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.box-shadow{
  box-shadow: 5px 10px;
}

.title, .content{
  display: inline-block;
  width: 50%;
  margin: 0;
}
.title{
  text-align: left;
  color: blue;
}
.content{
  text-align: left;
}